div.background-slideshow{
  text-align: center;
}
div.background-slideshow .slide {
   display: none;
   z-index: 1;
   width: 100%;
   height: 500px;
   background-size: cover;
   background-position: 50%;
}
div.background-slideshow .slide.current {
    display: block;
    z-index: 2;
}
.btn-container{
  text-align: center;
  margin-top: 10px;
}
.btn{
  width: 100px;
  background: gray;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  color: white;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.5s;
}
.btn:hover{
  opacity: 0.5;
  transition: opacity 0.5s;
}
