div.background-slideshow img {
   display: none;
   z-index: 1;
   width: 100%;
   background-size: cover;
   vertical-align: middle;
}
div.background-slideshow img.current {
    display: inline;
    z-index: 2;
}
div.background-slideshow img.previous {
    z-index: 1;
}

.btn-container{
  text-align: center;
  margin-top: 10px;
}
.btn{
  width: 100px;
  background: gray;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  color: white;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.5s;
}
.btn:hover{
  opacity: 0.5;
  transition: opacity 0.5s;
}
